In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt 
%matplotlib inline
from sklearn import metrics

## Load Titanic data set

In [2]:
train_df = pd.read_csv("titanic-train.csv")

In [3]:
print("dataset shape:",train_df.shape)

dataset shape: (891, 12)

In [4]:
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# import sys
# !conda install --yes --prefix {sys.prefix} pandas

In [6]:
type(train_df)
pd.__version__

'0.24.1'

In [7]:
#import sys
#!conda install --yes --prefix {sys.prefix} keras

In [8]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Set 'CABIN' values to 'Yes' or 'No'. If value is NAN the set CABIN is NO else Yes

In [9]:
def set_Cabin_type(df):
    df.loc[(df.Cabin.notnull()), 'Cabin'] = "Yes"
    df.loc[(df.Cabin.isnull()), 'Cabin'] = "No"
    return df

In [10]:
dataset = set_Cabin_type(train_df)

### Convert 'CABIN' to dummy variable

In [11]:
dataset = pd.get_dummies(dataset, columns=["Cabin"])
dataset.drop('Cabin_No', axis=1, inplace=True)

### Convert 'SEX' to dummy variable

In [12]:
dataset = pd.get_dummies(dataset, columns=["Sex"])
dataset.drop('Sex_female', axis=1, inplace=True)

### Fill NA data with median values

In [13]:
dataset["Age"].fillna(dataset["Age"].median(skipna=True), inplace=True)
dataset["Embarked"].fillna(dataset['Embarked'].value_counts().idxmax(), inplace=True)

### Convert dummy variables for 'Embarked' and 'Pclass'

In [14]:
dataset = pd.get_dummies(dataset, columns=["Embarked"])
dataset = pd.get_dummies(dataset, columns=["Pclass"])

In [15]:
dataset.head(3)

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin_Yes,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,0,1,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,1,0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,0,0,0,0,1,0,0,1

### Drop colums which do not add any information for prediction

In [16]:
dataset.drop('Name', axis=1, inplace=True)
dataset.drop('PassengerId', axis=1, inplace=True)
dataset.drop('Ticket', axis=1, inplace=True)

In [17]:
X = dataset.iloc[:, 1:12].values
y = dataset.iloc[:,0].values

### Split train and test using sklearn library

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

###  Importing the Keras libraries and packages

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense

/home/tparamas/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [20]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 20, epochs = 100)

Epoch 1/100
712/712 [==============================] - 0s 317us/step - loss: 0.6904 - acc: 0.6166
Epoch 2/100
712/712 [==============================] - 0s 80us/step - loss: 0.6798 - acc: 0.6166
Epoch 3/100
712/712 [==============================] - 0s 86us/step - loss: 0.6574 - acc: 0.6447
Epoch 4/100
712/712 [==============================] - 0s 83us/step - loss: 0.6315 - acc: 0.6475
Epoch 5/100
712/712 [==============================] - 0s 68us/step - loss: 0.6147 - acc: 0.6601
Epoch 6/100
712/712 [==============================] - 0s 70us/step - loss: 0.6059 - acc: 0.6742
Epoch 7/100
712/712 [==============================] - 0s 81us/step - loss: 0.6013 - acc: 0.6728
Epoch 8/100
712/712 [==============================] - 0s 79us/step - loss: 0.5971 - acc: 0.6798
Epoch 9/100
712/712 [==============================] - 0s 87us/step - loss: 0.5922 - acc: 0.6798
Epoch 10/100
712/712 [==============================] - 0s 80us/step - loss: 0.5858 - acc: 0.6882
Epoch 11/100
712/712 [==============================] - 0s 80us/step - loss: 0.5793 - acc: 0.6896
Epoch 12/100
712/712 [==============================] - 0s 64us/step - loss: 0.5744 - acc: 0.7065
Epoch 13/100
712/712 [==============================] - 0s 66us/step - loss: 0.5630 - acc: 0.7093
Epoch 14/100
712/712 [==============================] - 0s 72us/step - loss: 0.5531 - acc: 0.7149
Epoch 15/100
712/712 [==============================] - 0s 72us/step - loss: 0.5446 - acc: 0.7191
Epoch 16/100
712/712 [==============================] - 0s 69us/step - loss: 0.5413 - acc: 0.7191
Epoch 17/100
712/712 [==============================] - 0s 69us/step - loss: 0.5333 - acc: 0.7317
Epoch 18/100
712/712 [==============================] - 0s 74us/step - loss: 0.5232 - acc: 0.7360
Epoch 19/100
712/712 [==============================] - 0s 74us/step - loss: 0.5206 - acc: 0.7514
Epoch 20/100
712/712 [==============================] - 0s 62us/step - loss: 0.5150 - acc: 0.7669
Epoch 21/100
712/712 [==============================] - 0s 58us/step - loss: 0.5118 - acc: 0.7556
Epoch 22/100
712/712 [==============================] - 0s 56us/step - loss: 0.5129 - acc: 0.7612
Epoch 23/100
712/712 [==============================] - 0s 62us/step - loss: 0.5085 - acc: 0.7711
Epoch 24/100
712/712 [==============================] - 0s 73us/step - loss: 0.5022 - acc: 0.7753
Epoch 25/100
712/712 [==============================] - 0s 67us/step - loss: 0.4931 - acc: 0.7865
Epoch 26/100
712/712 [==============================] - 0s 62us/step - loss: 0.4914 - acc: 0.7935
Epoch 27/100
712/712 [==============================] - 0s 69us/step - loss: 0.4913 - acc: 0.7879
Epoch 28/100
712/712 [==============================] - 0s 64us/step - loss: 0.4946 - acc: 0.7879
Epoch 29/100
712/712 [==============================] - 0s 62us/step - loss: 0.4807 - acc: 0.7963
Epoch 30/100
712/712 [==============================] - 0s 68us/step - loss: 0.4821 - acc: 0.7978
Epoch 31/100
712/712 [==============================] - 0s 65us/step - loss: 0.4770 - acc: 0.7921
Epoch 32/100
712/712 [==============================] - 0s 67us/step - loss: 0.4759 - acc: 0.7992
Epoch 33/100
712/712 [==============================] - 0s 60us/step - loss: 0.4697 - acc: 0.8076
Epoch 34/100
712/712 [==============================] - 0s 56us/step - loss: 0.4643 - acc: 0.8160
Epoch 35/100
712/712 [==============================] - 0s 52us/step - loss: 0.4719 - acc: 0.8062
Epoch 36/100
712/712 [==============================] - 0s 48us/step - loss: 0.4623 - acc: 0.8090
Epoch 37/100
712/712 [==============================] - 0s 51us/step - loss: 0.4704 - acc: 0.7992
Epoch 38/100
712/712 [==============================] - 0s 49us/step - loss: 0.4566 - acc: 0.8160
Epoch 39/100
712/712 [==============================] - 0s 49us/step - loss: 0.4550 - acc: 0.8146
Epoch 40/100
712/712 [==============================] - 0s 49us/step - loss: 0.4519 - acc: 0.8160
Epoch 41/100
712/712 [==============================] - 0s 49us/step - loss: 0.4547 - acc: 0.8132
Epoch 42/100
712/712 [==============================] - 0s 52us/step - loss: 0.4650 - acc: 0.8076
Epoch 43/100
712/712 [==============================] - 0s 49us/step - loss: 0.4529 - acc: 0.8062
Epoch 44/100
712/712 [==============================] - 0s 51us/step - loss: 0.4528 - acc: 0.8104
Epoch 45/100
712/712 [==============================] - 0s 52us/step - loss: 0.4521 - acc: 0.8104
Epoch 46/100
712/712 [==============================] - 0s 57us/step - loss: 0.4501 - acc: 0.8048
Epoch 47/100
712/712 [==============================] - 0s 57us/step - loss: 0.4529 - acc: 0.8034
Epoch 48/100
712/712 [==============================] - 0s 73us/step - loss: 0.4415 - acc: 0.8160
Epoch 49/100
712/712 [==============================] - 0s 59us/step - loss: 0.4420 - acc: 0.8104
Epoch 50/100
712/712 [==============================] - 0s 54us/step - loss: 0.4439 - acc: 0.8188
Epoch 51/100
712/712 [==============================] - 0s 58us/step - loss: 0.4483 - acc: 0.8006
Epoch 52/100
712/712 [==============================] - 0s 62us/step - loss: 0.4429 - acc: 0.8174
Epoch 53/100
712/712 [==============================] - 0s 65us/step - loss: 0.4382 - acc: 0.8188
Epoch 54/100
712/712 [==============================] - 0s 74us/step - loss: 0.4389 - acc: 0.8160
Epoch 55/100
712/712 [==============================] - 0s 68us/step - loss: 0.4417 - acc: 0.8020
Epoch 56/100
712/712 [==============================] - 0s 70us/step - loss: 0.4376 - acc: 0.8118
Epoch 57/100
712/712 [==============================] - 0s 60us/step - loss: 0.4410 - acc: 0.8118
Epoch 58/100
712/712 [==============================] - 0s 59us/step - loss: 0.4371 - acc: 0.8160
Epoch 59/100
712/712 [==============================] - 0s 57us/step - loss: 0.4369 - acc: 0.8090
Epoch 60/100
712/712 [==============================] - 0s 64us/step - loss: 0.4371 - acc: 0.8104
Epoch 61/100
712/712 [==============================] - 0s 57us/step - loss: 0.4365 - acc: 0.8160
Epoch 62/100
712/712 [==============================] - 0s 62us/step - loss: 0.4355 - acc: 0.8174
Epoch 63/100
712/712 [==============================] - 0s 52us/step - loss: 0.4444 - acc: 0.8118
Epoch 64/100
712/712 [==============================] - 0s 62us/step - loss: 0.4802 - acc: 0.7963
Epoch 65/100
712/712 [==============================] - 0s 55us/step - loss: 0.4383 - acc: 0.8160
Epoch 66/100
712/712 [==============================] - 0s 67us/step - loss: 0.4469 - acc: 0.8006
Epoch 67/100
712/712 [==============================] - 0s 78us/step - loss: 0.4420 - acc: 0.8132
Epoch 68/100
712/712 [==============================] - 0s 83us/step - loss: 0.4331 - acc: 0.8160
Epoch 69/100
712/712 [==============================] - 0s 84us/step - loss: 0.4358 - acc: 0.8132
Epoch 70/100
712/712 [==============================] - 0s 84us/step - loss: 0.4348 - acc: 0.8104
Epoch 71/100
712/712 [==============================] - 0s 81us/step - loss: 0.4337 - acc: 0.8118
Epoch 72/100
712/712 [==============================] - 0s 68us/step - loss: 0.4361 - acc: 0.8160
Epoch 73/100
712/712 [==============================] - 0s 65us/step - loss: 0.4363 - acc: 0.8160
Epoch 74/100
712/712 [==============================] - 0s 57us/step - loss: 0.4378 - acc: 0.8160
Epoch 75/100
712/712 [==============================] - 0s 55us/step - loss: 0.4352 - acc: 0.8188
Epoch 76/100
712/712 [==============================] - 0s 62us/step - loss: 0.4384 - acc: 0.8132
Epoch 77/100
712/712 [==============================] - 0s 73us/step - loss: 0.4319 - acc: 0.8118
Epoch 78/100
712/712 [==============================] - 0s 62us/step - loss: 0.4287 - acc: 0.8188
Epoch 79/100
712/712 [==============================] - 0s 77us/step - loss: 0.4326 - acc: 0.8118
Epoch 80/100
712/712 [==============================] - 0s 83us/step - loss: 0.4300 - acc: 0.8230
Epoch 81/100
712/712 [==============================] - 0s 72us/step - loss: 0.4321 - acc: 0.8160
Epoch 82/100
712/712 [==============================] - 0s 81us/step - loss: 0.4387 - acc: 0.8104
Epoch 83/100
712/712 [==============================] - 0s 77us/step - loss: 0.4388 - acc: 0.8076
Epoch 84/100

712/712 [==============================] - 0s 78us/step - loss: 0.4285 - acc: 0.8202
Epoch 85/100
712/712 [==============================] - 0s 70us/step - loss: 0.4317 - acc: 0.8132
Epoch 86/100
712/712 [==============================] - 0s 77us/step - loss: 0.4350 - acc: 0.8104
Epoch 87/100
712/712 [==============================] - 0s 67us/step - loss: 0.4372 - acc: 0.8132
Epoch 88/100
712/712 [==============================] - 0s 74us/step - loss: 0.4287 - acc: 0.8132
Epoch 89/100
712/712 [==============================] - 0s 72us/step - loss: 0.4286 - acc: 0.8230
Epoch 90/100
712/712 [==============================] - 0s 84us/step - loss: 0.4263 - acc: 0.8118
Epoch 91/100
712/712 [==============================] - 0s 69us/step - loss: 0.4327 - acc: 0.8132
Epoch 92/100
712/712 [==============================] - 0s 78us/step - loss: 0.4384 - acc: 0.8146
Epoch 93/100
712/712 [==============================] - 0s 73us/step - loss: 0.4434 - acc: 0.8048
Epoch 94/100
712/712 [==============================] - 0s 85us/step - loss: 0.4279 - acc: 0.8244
Epoch 95/100
712/712 [==============================] - 0s 82us/step - loss: 0.4267 - acc: 0.8118
Epoch 96/100
712/712 [==============================] - 0s 78us/step - loss: 0.4281 - acc: 0.8132
Epoch 97/100
712/712 [==============================] - 0s 80us/step - loss: 0.4262 - acc: 0.8160
Epoch 98/100
712/712 [==============================] - 0s 85us/step - loss: 0.4275 - acc: 0.8202
Epoch 99/100
712/712 [==============================] - 0s 79us/step - loss: 0.4246 - acc: 0.8188
Epoch 100/100
712/712 [==============================] - 0s 85us/step - loss: 0.4252 - acc: 0.8230

kernel_initializer - Defines the way to set the initial random weights of Keras layers.
activation - activation function is used to intoduce non-linear nature to data.
optimizer - Optimazation function like Stocastic GD,adam,RMSprop etc

In [21]:
y_pred = classifier.predict(X_test)

In [22]:
y_pred1 = (y_pred > 0.5)
score = metrics.accuracy_score(y_test, y_pred1)
score

0.8156424581005587